<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recruiter Registration</title>
    <link href='https://fonts.googleapis.com/css?family=Mallanna' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recruiter_register.css') }}">
</head>
<body>
    <main>
        <div>
            <h1><u>Hello,</u> 👋   <u>Welcome to HireMe</u></h1>
        </div>
        <div class="form-container">
            <form id="recruiter_register" action="/recruiter_register" method="POST">
                <div class="form-row">
                    <div class="form-column">
                        <div class="form-group">
                            <label for="username">UserName</label>
                            <input type="text" id="username" name="username" required> 
                        </div>
                        <div class="form-group">
                            <label for="firstname">First Name</label>
                            <input type="text" id="firstname" name="firstname" required>
                        </div>
                        <div class="form-group">                    
                            <label for="lastname">Last Name</label>
                            <input type="text" id="lastname" name="lastname" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email ID</label>
                            <input type="email" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Set password</label>
                            <input type="password" id="password" name="password" required>
                        </div>
                    </div>  

                    <div class="form-column">
                        <div class="form-group">
                            <label for="phone_number">Contact Number</label>
                            <input type="text" id="phone_number" name="phone_number" required>
                        </div>
                        <div class="form-group">
                            <label for="company">Company</label>
                            <input type="text" id="company" name="company" required>
                        </div>

                        <div class="form-group" id="confirm_pass_group">
                            <label for="confirm_password">Confirm password</label>
                            <input type="password" id="confirm_password" name="confirm_password" required>                    
                        </div>
                    </div>
                </div>
                <hr>
                <button type="submit">SIGNUP</button>
            </form>
            <footer>
                <p>Start your recruiting journey with HireMe, Today!</p>
            </footer>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/recruiter_register.js') }}" defer></script>
</body>
</html>
