<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration</title>
    <link href='https://fonts.googleapis.com/css?family=Mallanna' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student_register.css') }}">
</head>
<body>
    <main>
        <div>
            <h1><u>Hello,</u> 👋   <u>Welcome to HireMe</u></h1>
        </div>
        <div class="form-container">
            <form id="student_register" action="/student_register" method="POST">
                <div class="form-row">
                    <div class="form-column">
                        <div class="form-group">
                            <label for="name">Student Name</label>
                            <input type="text" id="name" name="name" required> 
                        </div>
                        <div class="form-group">
                            <label for="college_name">College Name</label>
                            <input type="text" id="college_name" name="college_name" required>
                        </div>
                        <div class="form-group">                    
                            <label for="usn">USN</label>
                            <input type="text" id="usn" name="usn" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email ID</label>
                            <input type="email" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Set password</label>
                            <input type="password" id="password" name="password" required>
                        </div>
                    </div>  

                    <div class="form-column">
                        <div class="form-group">
                            <label for="phone_number">Contact Number</label>
                            <input type="text" id="phone_number" name="phone_number" required>
                        </div>
                        <div class="form-group">
                            <label for="branch">Branch</label>
                            <input type="text" id="branch" name="branch" required>
                        </div>
                        <div class="form-group-skills">
                            <label for="skills">Skills</label>
                            <select id="skills" name="skills" class="opion">
                                <option value="">Select your skill</option>
                                <option value="python">Python</option>
                                <option value="java">Java</option>
                                <option value="javascript">JavaScript</option>
                                <option value="csharp">C#</option>
                                <option value="sql">SQL</option>
                            </select>
                            
                        </div>
                        <small style="margin-left: 50%;
                        padding-bottom: 32%;
                        ">select only one skill</small>
                        <div class="form-group">
                            <label for="confirm_password">Confirm password</label>
                            <input type="password" id="confirm_password" name="confirm_password" required>                    
                        </div>
                    </div>
                </div>
                <hr>
                <button type="submit">SIGNUP</button>
            </form>
            <footer>
                <p>Start your career with HireMe, Today!</p>
            </footer>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/student_register.js') }}" defer></script>
</body>
</html>
